nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid lightgrey;
}

nav .nav-left {
  display: flex;
  align-items: center;
}

nav .nav-left span {
  margin-right: 30px;
  padding-right: 30px;
  font-size: 20px;
}

nav .nav-left li {
  padding-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

.base-nav {
  text-decoration: none;
  /* 밑줄 제거 */
  color: #000;
  /* 원하는 색상으로 변경 */
}

/* 
.bass-dropdown {
  position: relative;
  display: inline-block;
}

.bass-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  align-items: stretch;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
}

.bass-dropdown-content li {
  padding: 10px;
  list-style-type: none;
  text-align: center;
}

.bass-dropdown-content li:last-child {
  border-bottom: none;
}

.bass-dropdown:hover .bass-dropdown-content {
  display: block;
} */