body {
  background-color: rgb(247, 247, 240);
}

.boots-info-container {
  display: flex;
  margin-top: 30px;
}

.boots-info-side {
  flex-basis: 20%;
  margin: 30px;
}

.boots-info-main {
  flex-basis: 81%;
  margin: 30px;
}

a {
  text-decoration-line: none;
}
.side {
  border: none;
}

.boots-info-card {
  margin-top: 30px;
}

.boots-info-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.errorlist {
  display: none;
}

.hide-clear-checkbox .clear-checkbox-label {
  display: none;
}

.boots-info-main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}


.boots-info-main-post {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 1%;
  padding: 10px;
}

.boots-info-container {
  display: flex;
  margin-top: 30px;
}

.boots-info-side {
  flex-basis: 50%;
  margin: 30px;
}

.boots-info-recommend {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  height: 200px;
  margin-right: 14px;
  border-radius: 2%;
  width: 49%;
}

.boots-info-deadline {
  width: 49%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  height: 200px;
  border-radius: 2%;
}

.boots-info-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.boots-info-left {
  flex-basis: 50%;
  text-align: left;
}

.boots-info-right {
  flex-basis: 50%;
  text-align: right;
}

.boots-info-row {
  display: flex;
  justify-content: space-between;
}

.boots-info-main-post-title {
  width: 100%;
}

.boots-info-main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.boots-info-main-row-3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.category-django {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(249, 249, 241);
  color: rgb(53, 113, 3);
}

.category-java {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(255 228 243);
  color: rgb(240, 45, 45);
}

.category-spring {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(225 255 225);
  color: rgb(103, 240, 45);
}

.category-db {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(192 227 255);
  color: rgb(30 47 228);
}

.category-jpa {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(255 254 235);
  color: rgb(179 171 12);
}

.category-back {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(255 244 245);
  color: rgb(120 52 227);
}

.category-front {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  background: rgb(235 254 250);
  color: rgb(24 227 195);
}