body {
  background-color: rgb(247, 247, 240);
}

a {
  text-decoration: none;
}

.index-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.index-header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* main */
main {
  display: flex;
  justify-content: center;
  margin: 20px;
}

main .index-articles {
  display: flex;
}

main .index-article {
  width: 240px;
  height: 80px;
  background-color: #fefefe;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* footer */
footer>span {
  padding: 20px;
}

footer>div {
  display: flex;
}

footer>div>div {
  width: 25%;
  background-color: #7e7d7d;
  padding: 20px;
  margin: 20px;
}

.index-a {
  text-decoration: none;
  color: #000;
}

.logo-img-main {
  width:200px;
  border-radius: 10%;
  
}