{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock style %}

{% block content %}
<main class="login-container">
  <div class="login-title">
    로그인
  </div>
  <form action="{% url 'accounts:login' %}", method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="로그인" class="btn btn-outline-secondary m-5">
  </form> 

  <div class="signup-api">
      <div class="btn btn-outline-secondary m-3">API</div>
      <div class="btn btn-outline-secondary m-3">API</div>
      <div class="btn btn-outline-secondary m-3">API</div>
  </div>
  
</main>
{% endblock content %}