{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/my_posts.css' %}?after" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
{% endblock style %}

{% block content %}
<div class="profile-container">
  
  
  <!-- 내가 쓴 게시글 -->
  <div class="profile-mypost">
    <div>
      {% if not my_posts_new %}
        <!-- 게시글이 없을 경우 표시할 내용 -->
      {% else %}
      {% for post in page_obj %}
        <a href="{% url 'posts:commu_detail' post.pk %}" class="commu_post">
          <div class="카테고리 d-flex">
            <div class="commuCA {% if post.category == 'Django' %}category-django{% elif post.category == 'Java' %}category-java{% elif post.category == 'Spring' %}category-spring{% elif post.category == 'DB' %}category-db{% elif post.category == 'JPA' %}category-jpa{% elif post.category == '백앤드' %}category-back{% elif post.category == '프론트앤드' %}category-front{% endif %}">
              {{ post.category }}
            </div>
          </div>
          <div class="제목/내용">
            <div class="commuT">
              {{ post.title}}
            </div>
            <div class="commuC">
              {{ post.content }}
            </div>
          </div>
          <div class="유저">
            <div>
              {{ post.username}}
            </div>
          </div>
          <div class="commuBA">
            <div></div>
            <div class="commuBA-group">
              <div class="commuBA-item">
                <img src="{% static 'commu_ico/views.svg' %}" alt="조회수">
              </div>
              {{ post.views }}
              <div class="commuBA-item">
                <img src="{% static 'commu_ico/like.svg' %}" alt="좋아요">
              </div>
              {{ post.likeuser|length }}
              <div class="commuBA-item">
                <img src="{% static 'commu_ico/comment.svg' %}" alt="코멘트">
              </div>
              {{ post.comment|length }}
            </div>
          </div>
        </a>
      {% endfor %}
      {% if page_obj.has_previous or page_obj.has_next %}
        <div class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <a class="page-link" href="?page=1">&laquo;</a>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <span class="current-page page-link">{{ num }}</span>
            {% else %}
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ my_posts_new_page.paginator.num_pages }}">&raquo;</a>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
    </div>
  </div>    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock content %}
