{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}?after" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
{% endblock style %}

{% block content %}
<div class="profile-container">
  <div class="profile-main">
    <div class="dropdown profile-dropdown">
      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">프로필수정</a></li>
        <li><a class="dropdown-item" href="#">쪽지함</a></li>
        <li><a class="dropdown-item" href="#">회원탈퇴</a></li>
        <li><a class="dropdown-item" href="#">로그인</a></li>
      </ul>
    </div>
    <div class="profile-img">
      <!-- 프로필 유저 이미지-->
      <img src="https://placeimg.com/200/200/animals/sepia" /> 
    </div>
    <div>
      <!-- 프로필 유저의 포인트 -->
      포인트
    </div>
    <div class="profile-name">
      <!-- 프로필 유저의 등급, 유저네임, 쪽지 아이콘-->
      등급(아이콘) 유저네임 쪽지(아이콘)
    </div>
    <div class="profile-introduction">
      <!-- 프로필 유저의 소개글 -->
      유저 소개글
    </div>
  </div>
  
  <div class="profile-study-record">
    <div>
      <table class="Calendar">
        <thead>
            <tr>
                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                <td colspan="5">
                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                </td>
                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
            </tr>
            <tr>
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    </div>
  </div>
  <div>
    <div id="selectedDate"></div>
  </div>
  
  <!-- 내가 쓴 게시글 -->
  <div class="profile-mypost">
    <div class="m-2">
      카테고리
    </div>
    <div class="m-2 profile-mypost-content">
      <div>
        {% if request.user.image %}
          <img src="{{request.user.image.url}}" alt="{user.username}" class="profile-image">
        {% else %}
          이미지가 없습니다
        {% endif %}
      </div>
      <div class="profile-mypost-v">
        <div class="pe-2">조회수</div>
        <div class="pe-2">좋아요</div>
        <div >댓글</div>
      </div>
      <div>
        유저 소개
      </div>
    </span>
    <span>
      내용 2
    </span>
  </header>
</div>
<div>
  {% if not my_posts%}

  {% else %}
  {%for post in my_posts %}
  <a href="{%url 'posts:commu_detail' post.pk %}" class="commu_post">
    <div class="카테고리 d-flex">
      <div class="commuCA {% if post.category == 'Django' %}category-django{% elif post.category == 'Java' %}category-java{% elif post.category == 'Spring' %}category-spring{% endif %}">
        {{ post.category }}
      </div>
    </div>
    <div class="제목/내용">
      <div class="commuT">
        {{ post.title}}
      </div>
      <div class="commuC">
        {{ post.content }}
      </div>
    </div>
    <div class="유저">
      <div>
        {{ post.username}}
      </div>
    </div>
    <div class="commuBA">
      <div></div>
      <div class="commuBA-group">
        <div class="commuBA-item">
          <img src="{%static 'commu_ico/views.svg' %}" alt="조회수">
        </div>
        {{ post.views }}
        <div class="commuBA-item">
          <img src="{%static 'commu_ico/like.svg' %}" alt="좋아요">
        </div>
        {{ post.likeuser|length}}
        <div class="commuBA-item">
          <img src="{%static 'commu_ico/comment.svg'%}" alt="코멘트">
        </div>
        {{ post.comment|length}}
      </div>
    </div>
  </a>
  {% endfor %}
  {% endif %}
</div>
    </div>
    
  </div>
</div>
<script>
  window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

  let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
  let today = new Date();     // 페이지를 로드한 날짜를 저장
  today.setHours(0,0,0,0);    // 비교 편의를 위해 today의 시간을 초기화

  // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
  function buildCalendar() {

      let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
      let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

      let tbody_Calendar = document.querySelector(".Calendar > tbody");
      document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
      document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

      while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
          tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
      }

      let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

      for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
          let nowColumn = nowRow.insertCell();        // 열 추가
      }

      for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

          let nowColumn = nowRow.insertCell();        // 새 열을 추가하고
          nowColumn.innerText = leftPad(nowDay.getDate());      // 추가한 열에 날짜 입력

      
          if (nowDay.getDay() == 0) {                 // 일요일인 경우 글자색 빨강으로
              nowColumn.style.color = "#DC143C";
          }
          if (nowDay.getDay() == 6) {                 // 토요일인 경우 글자색 파랑으로 하고
              nowColumn.style.color = "#0000CD";
              nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
          }


          if (nowDay < today) {                       // 지난날인 경우
              nowColumn.className = "pastDay";
              nowColumn.onclick = function () { choiceDate(this); }; // 클릭 이벤트 등록
          }
          else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
              nowColumn.className = "today";
              nowColumn.onclick = function () { choiceDate(this); }
          }
          else {                                      // 미래인 경우
              nowColumn.className = "futureDay";
              nowColumn.onclick = function () { choiceDate(this); }
          }
      }
  }

  // 날짜 선택
  {% comment %} function choiceDate(nowColumn) {
      if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
          document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
      }
      nowColumn.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가
  } {% endcomment %}
  window.onload = function() {
    buildCalendar();
    document.getElementById("selectedDate").innerText = "날짜";
  }
  

  function choiceDate(nowColumn) {
    let selectedDate = nowColumn.innerText;
    let selectedMonth = nowMonth.getMonth() + 1;
    let selectedYear = nowMonth.getFullYear();
  
    if (nowColumn.classList.contains("choiceDay")) {
      nowColumn.classList.remove("choiceDay");
    } else {
      let choiceDayElements = document.getElementsByClassName("choiceDay");
      if (choiceDayElements.length > 0) {
        for (let i = 0; i < choiceDayElements.length; i++) {
          choiceDayElements[i].classList.remove("choiceDay");
        }
      }
      nowColumn.classList.add("choiceDay");
    }
  
    if (nowColumn.classList.contains("choiceDay")) {
      document.getElementById("selectedDate").innerText = selectedYear + "년 " + selectedMonth + "월 " + selectedDate + "일";
    } else {
      document.getElementById("selectedDate").innerText = "날짜";
    }
  }
  
  // 이전달 버튼 클릭
  function prevCalendar() {
      nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
      buildCalendar();    // 달력 다시 생성
  }
  // 다음달 버튼 클릭
  function nextCalendar() {
      nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
      buildCalendar();    // 달력 다시 생성
  }

  // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
  function leftPad(value) {
      if (value < 10) {
          value = "0" + value;
          return value;
      }
      return value;
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock content %}
