{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock style %}


{% block content %}
<main class="signup-container">
  <div class="signup-title">
    <h3 style="color: #6f6e7a;  text-shadow: 1px 1px lightgray;">회원 가입</h3>
  </div>
  <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="가입" class="btn btn-secondary signup-button mt-3">
  </form>
<script>

{% endblock content %}