{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock style %}

{% block content %}
<main class="signup-container">
  <div class="signup-title">
    회원가입
  </div>
  <form action="{% url 'accounts:signup' %}", method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="signup-api">
      <div class="btn btn-outline-secondary m-3">API</div>
      <div class="btn btn-outline-secondary m-3">API</div>
      <div class="btn btn-outline-secondary m-3">API</div>
    </div>
    <input type="submit" value="가입" class="btn btn-outline-secondary signup-button">
  </form>
</main>
{% endblock content %}
