{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock style %}

{% block content %}
<main class="signup-container">
  <div class="signup-title">
    회원정보 수정
  </div>
  <form action="", method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
  
    <div class="signup-title">
      자기소개글
    </div>
    {{ edit.media }}
    {{ edit.as_p }}

    <input type="submit" value="저장" class="btn btn-outline-secondary signup-button"> 
  </form>


  
</main>
{% endblock content %}
