{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block style %}

<style>
  body {
    background-color: rgb(247, 247, 240);
  }
</style>
{% endblock style %}


{% comment %} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% endcomment %}

{% block content %}
{% comment %} {% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %} {% endcomment %}

<form method="post">
  {% csrf_token %}
  <div style="display:flex; justify-content:center;" class="mt-5">
    <button type="submit" 
    style="background: none;
          border: none;
          outline: none;">
      <img src="{%static 'img/logo.png' %}" alt="로고" class="logo-img-main">
      <div class="mt-2" style="color:lightgray">
        클릭시 로그인 페이지로 이동합니다
      </div>
    </button>
  </div>
</form>
{% endblock %}