{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--css reset-->
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <!--부트스트랩-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  {% block style %}
  {% endblock style %}

</head>
<body>
  <!-- Navbar -->
  <header>
    <nav>
      <div class="nav-left">
        <span>
          <a href="{% url 'posts:index' %}" class="base-nav">
            <img src="{%static 'img/logo.png' %}" alt="로고" class="logo-img">
          </a>
        </span>
        <ul>
          <a href="{% url 'posts:boots_info' %}" class="base-nav m-3">🏕️ 부트캠프</a>
          <a href="{% url 'posts:commu_info' %}" class="base-nav m-3">✨ 커뮤니티</a>
        </ul>
      </div>
      <ul>
        {% if request.user.is_authenticated %}
          <li>
            <span><a href="{% url 'accounts:profile' user.pk %}" class="btn btn-outline-secondary">{{ user }}</a></span>
            <a href="{% url 'accounts:logout' %}?next = {{ request.path }}" class="btn btn-outline-secondary">로그아웃</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'accounts:login' %}?next = {{ request.path }}" class="btn btn-outline-secondary">로그인</a>
            {% comment %} ?next={{request.path}} >> 로그인 성공시 redirect페이지를 원래 있던 페이지로 이동 {% endcomment %}
            <a href="{% url 'accounts:signup' %}?next = {{ reqeust.path }}" class="btn btn-outline-secondary">회원가입</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %}
  
  {% endblock content %}
  <script>
    // 자바스크립트 코드
    const dropdowns = document.querySelectorAll('.bass-dropdown');

    dropdowns.forEach(dropdown => {
      const dropdownContent = dropdown.querySelector('.bass-dropdown-content');

      dropdown.addEventListener('click', () => {
        dropdownContent.classList.toggle('show');
      });

      window.addEventListener('click', event => {
        if (!dropdown.contains(event.target)) {
          dropdownContent.classList.remove('show');
        }
      });
    });
  </script>
  
</body>
</html>