{% extends 'base.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/boots_info.css' %}" />
{% endblock style %}

{% block content %}
<div>
  <div class="d-flex justify-content-between">
    <!--사이드바-->
    <div style="width: 15rem;">
      <div class="boots-info-side" style="width: 11rem;">
        <input type="text" class="form-control" placeholder="검색어를 입력하세요">
      </div>
      <div class="commu-side">
        <div style="width: 11rem;">
          <div class="best_post mb-4 p-2 ps-3">
            과정
          </div>
          <div class="best_post p-3">
            <div class="pe-3">
              <a href="{%url 'posts:commu_filter' 'Django'%}" class="category-1">풀스택(웹)</a>
            </div>
            <div>
              <a href="{%url 'posts:commu_filter' 'Java'%}" class="category-2">백엔드</a>
            </div>
            <div class="pe-3">
              <a href="{%url 'posts:commu_filter' 'Spring'%}" class="category-3">프론트엔드</a>
            </div>
            <div>
              <a href="{%url 'posts:commu_filter' 'DB'%}" class="category-4">퍼블리싱</a>
            </div>
            <div class="pe-3">
              <a href="{%url 'posts:commu_filter' 'JPA'%}" class="category-5">안드로이드</a>
            </div>
            <div>
              <a href="{%url 'posts:commu_filter' '백엔드'%}" class="category-6">iOS</a>
            </div>
            <div class="pe-3">
              <a href="{%url 'posts:commu_filter' '프론트엔드'%}" class="category-7">데브옵스</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--메인-->
    <div style="width:100%;">
    <div class="commu-main">
      <div class="new_post">
        <div class="new_post_all">
          <div>
            부트캠프 
            <span class="ps-2"style="color: lightgray; font-size:12px;">부트캠프 전체게시글을 조회합니다.</span>
          </div>
        </div>
      </div>
      {%for post in page_obj%}
      <a href="{%url 'posts:boots_detail' post.pk %}" class="commu_post" data-pk="{{ post.pk }}">
        <div class="카테고리 d-flex" style="justify-content: space-between;">
          <div class="commuT">
            {{ post.title}}
          </div>
          <div class="boots-info-date">
            {{ post.start_data1|date:'m/d' }}
          </div>
        </div>
        <div class="제목/내용">
          <div class="flex-row-nowrap">
            <div style="height: 100%">
              <div class="flex-row boots-info-date">
                {{post.start_data2|date:"Y/m/d"}}
                ~
                {{post.end_data|date:"Y/m/d"}} | {{post.price}}원 |  {{post.onoff}}
              </div>
            </div>
            <div style="text-align: left;">
            </div>
          </div>
          <div class="commuC">
            {{ post.content }}
          </div>
          <div class="mt-3">
            {% for tag in post.tags.all %}
              {% comment %} <span class="ant-tag prep-tag" style="margin-bottom:3px">
                {{ tag }}
              </span> {% endcomment %}
              <div class="commuCA 
              {% if tag in "백엔드" %}category-1
              {% elif tag == 'Java' %}category-2
              {% elif tag == 'Spring' %}category-3
              {% elif tag == 'DB' %}category-4
              {% elif tag == 'JPA' %}category-5
              {% elif tag == '백엔드' %}category-6
              {% elif tag == '프론트엔드' %}category-7 
              {% else %} ant-tag
              {% endif %}">
              {{ tag }}
              </div>
            {% endfor %}
          </div>
        </div>

      </a>
      {% endfor %}
      
      {% if page_obj.has_previous or page_obj.has_next %}
      <div class="pagination justify-content-center">
          {% if page_obj.has_previous %}
              <a class="page-link" href="?page=1">&laquo;</a>
          {% endif %}
  
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <span class="current-page page-link">{{ num }}</span>
              {% else %}
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
          {% endfor %}
  
          {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
          {% endif %}
      </div>
      {% endif %}
        <div>
        {% for post in boots%}
        <div>
          {{post.title}}
        </div>
        {% endfor %}
      </div>
      <div class="boots-info-main">
        <div class="boots-info-recommend">
          <div class="boots-info-title">
              추천게시글
          </div>
          <div class="boots-info-row">
              <div class="boots-info-left">
                <!-- 추천 학원 = 랜덤 or 좋아요 순 or 조회순 -->
                  학원명 <!-- 추천 학원명 -->
              </div>
              <div class="boots-info-right">
                  과정  <!-- 추천 학원 과정 -->
              </div>
          </div>
          <div class="pt-2">
              과정명  <!-- 추천 학원 과정명-->
          </div>
          <div class="pt-2">
              간단한 내용  <!-- 추천 학원 간단한 소개글-->
          </div>
        </div>
        <div class="boots-info-deadline">
          <div class="boots-info-title">
            <!-- 마감임박 = 시작일이랑 가까운 순 -->
              마감임박
          </div>
          <div class="boots-info-row">
              <div class="boots-info-left">
                  학원명 <!-- 마감임박 학원명-->
              </div>
              <div class="boots-info-right">
                  과정 <!-- 마감임박 과정 -->
              </div>
          </div>
          <div class="pt-2">
              과정명 <!-- 마감임박 과정명-->
          </div>
          <div class="pt-2">
              간단한 내용 <!-- 마감임박 학원 간단한 소개글 -->
          </div>
        </div>

        <div class="mt-3 boots-info-main-post-title">
          부트캠프 소개 & 후기
        </div>
        <!-- 카드형식으로 여러 소개글 나열 for 문 -->
        <div class="mt-3 boots-info-main-post">
          <div class="boots-info-main-row">
            <div>
              학원명 <!-- 학원명 -->
            </div>
            <div> 
              남은 날짜 <!-- 시작일 기준 남은 일수 / ex) 12일전 , 5시간전 등-->
            </div>
          </div>
          <div>
            과정명 <!-- 과정명 -->
          </div>
          <div>
            <div class="boots-info-main-row-3 mt-2">
              <div class="pe-2">과정기간</div> <!-- 전체 과정 기간 -->
              <div class="pe-2">금액</div> <!-- 전체 금액 ex) 무료, 100만원, -->
              <div class="pe-2">온라인 or 오프라인</div> <!-- 수업 방식 -->
            </div>
          </div>
          <div>
            <div>기술스택</div> <!-- 기술스택 , 언어 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}