{% extends 'base.html' %}
{% load static %}
{% block style %}
{% load tz %}
{% load humanize %}
{% load custom_filters%}

<link rel="stylesheet" href="{% static 'css/boots_info.css' %}" />
{% endblock style %}

{% block content %}
<div>
  <div class="d-flex justify-content-between">
    <!--사이드바-->
    <div style="width: 15rem;">
      <div class="boots-info-side" style="width: 11rem;">
        <input type="text" class="form-control" placeholder="검색어를 입력하세요">
      </div>
      <div class="commu-side">
        <div style="width: 11rem;">
          <div class="best_post mb-4 p-2 ps-3">
            과정
          </div>
          <div class="best_post p-3">
            <div class="pe-3 mb-3">
              <a href="{%url 'posts:boots_filter' '풀스택'%}" class="category-1">풀스택(웹)</a>
            </div>
            <div class="mb-3">
              <a href="{%url 'posts:boots_filter' '백엔드'%}" class="category-2">백엔드</a>
            </div>
            <div class="pe-3 mb-3">
              <a href="{%url 'posts:boots_filter' '프론트엔드'%}" class="category-3">프론트엔드</a>
            </div>
            <div class="mb-3">
              <a href="{%url 'posts:boots_filter' '퍼플리싱'%}" class="category-4">퍼블리싱</a>
            </div>
            <div class="pe-3 mb-3">
              <a href="{%url 'posts:boots_filter' '안드로이드'%}" class="category-5">안드로이드</a>
            </div>
            <div class="mb-3">
              <a href="{%url 'posts:boots_filter' 'iOS'%}" class="category-6">iOS</a>
            </div>
            <div class="pe-3 mb-3">
              <a href="{%url 'posts:boots_filter' '데브옵스'%}" class="category-7">데브옵스</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--메인-->
    <div style="width:100%;">
    <div class="commu-main">
      <div class="new_post">
        <div class="new_post_all">
          <div>
            🏕️ 부트캠프 
            <span class="ps-2"style="color: lightgray; font-size:12px;">부트캠프 전체게시글을 조회합니다.</span>
          </div>
        </div>
      </div>
      {%for post in page_obj%}
      <a href="{%url 'posts:boots_detail' post.pk %}" class="commu_post" data-pk="{{ post.pk }}">
        <div class="카테고리 d-flex" style="justify-content: space-between;">
          <div class="commuT">
            {{ post.title}}
          </div>
          <div class="boots-info-date">
            {% with remaining_days=post.start_data1|remaining_days %}
            {{ post.start_data1|date:'m/d' }}
                {% if remaining_days > 0 %}
                    <p>모집 마감까지: {{ remaining_days }}일전</p>
                {% else %}
                    <p>마감되었습니다.</p>
                {% endif %}
            {% endwith %}
          </div>
        </div>
        <div class="제목/내용">
          <div class="flex-row-nowrap">
            <div style="height: 100%">
              <div class="flex-row boots-info-date">
                {{post.start_data2|date:"Y/m/d"}}
                ~
                {{post.end_data|date:"Y/m/d"}} | {{post.price}}원 |  {{post.onoff}}
              </div>
            </div>
            <div style="text-align: left;">
            </div>
          </div>
          <div class="commuC">
            {{ post.content }}
          </div>
          <div class="mt-3">
            {% for tag in post.tags.all %}
              {% comment %} <span class="ant-tag prep-tag" style="margin-bottom:3px">
                {{ tag }}
              </span> {% endcomment %}
              <div class="commuCA 
              {% if tag in "백엔드" %}category-1
              {% elif tag == 'Java' %}category-2
              {% elif tag == 'Spring' %}category-3
              {% elif tag == 'DB' %}category-4
              {% elif tag == 'JPA' %}category-5
              {% elif tag == '백엔드' %}category-6
              {% elif tag == '프론트엔드' %}category-7 
              {% else %} ant-tag
              {% endif %}">
              {{ tag }}
              </div>
            {% endfor %}
          </div>
        </div>

      </a>
      {% endfor %}
      
      {% if page_obj.has_previous or page_obj.has_next %}
      <div class="pagination justify-content-center">
          {% if page_obj.has_previous %}
              <a class="page-link" href="?page=1">&laquo;</a>
          {% endif %}
  
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <span class="current-page page-link">{{ num }}</span>
              {% else %}
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
          {% endfor %}
  
          {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
          {% endif %}
      </div>
      {% endif %}
       
  </div>
</div>
{% endblock content %}