{% extends 'base.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/boots_info.css' %}" />
{% endblock style %}

{% block content %}
<div class="boots-info-container">
    <!--사이드바-->
    <div>
      <div class="boots-info-side">
        <input type="text" class="form-control" placeholder="검색어를 입력하세요">
      </div>
      <div class="boots-info-side">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            인기태그
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item side">Python</li>
            <li class="list-group-item side">JAVA</li>
            <li class="list-group-item side">C언어</li>
          </ul>
        </div>
      </div>
      <div class="boots-info-side">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            학원별
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item side">학원이름</li>
            <li class="list-group-item side">학원이름</li>
            <li class="list-group-item side">학원이름</li>
          </ul>
        </div>
      </div>
    </div>
    <!--메인-->
    <main class="boots-info-main">
      <div class="boots-info-recommend">
        추천게시글
      </div>
      <div>
        학원명
      </div>
      <div>
        과정
      </div>
      <div>
        과정명
      </div>
      <div>
        간단한 내용
      </div>
      <div class="boots-info-deadline">
        마감임박게시글
      </div>
      <div class="boots-info-main-post">
        부트캠프 소개 & 후기
      </div>
    </main>
{% endblock content %}