{% extends 'base.html' %}
{% load static %}
{% block style %}
{% load humanize %}
{% load custom_filters%}

<link rel="stylesheet" href="{% static 'css/commu_detail.css' %}?after " />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
{% endblock style %}

{% block content %}
<div class="commu-container">
  <div class="d-flex justify-content-between">
    <!--사이드바-->
     <!--사이드바-->
     <div style="width: 15rem;">
      <div class="commu-side" style="width: 11rem;">
        <input type="text" class="form-control" placeholder="검색어를 입력하세요">
      </div>
      <div class="commu-side">
        <div class="card" style="width: 11rem;">
          <div class="card-header">
            언어
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' 'Django'%}" class="category-django">Django</a>
            </li>
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' 'Java'%}" class="category-java">Java</a>
            </li>
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' 'Spring'%}" class="category-spring">Spring</a>
            </li>
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' 'DB'%}" class="category-db">DB</a>
            </li>
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' 'JPA'%}" class="category-jpa">JPA</a>
            </li>
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' '백엔드'%}" class="category-back">백엔드</a>
            </li>
            <li class="list-group-item side">
              <a href="{%url 'posts:commu_filter' '프론트엔드'%}" class="category-front">프론트 엔드</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="commu-side">
        <div class="card" style="width: 11rem;">
          <div class="card-header">
            후기
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item side">학원이름</li>
            <li class="list-group-item side">학원이름</li>
            <li class="list-group-item side">학원이름</li>
          </ul>
        </div>
      </div>
    </div>
    <!--메인-->
    <main class="commu-main">
    <div class="commu-detail">
        <header class="detail-header">
          {% if commus.user == request.user %}
            <div class="dropdown dropstart">
              <img src="{%static 'commu_ico/dots.svg'%}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="ture">
              </img>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{%url 'posts:commu_update' commus.pk %}">글 수정</a></li>
                <li><a class="dropdown-item" href="{%url 'posts:commu_delete' commus.pk %}">글 삭제</a></li>
              </ul>
            </div>
          {% endif %}
          <div class="d-flex">
            <a href="{%url 'posts:commu_filter' commus.category %}" class="commuCA">{{ commus.category }}</a>
          </div>
          <div class="commu-title">
            <h1 class="commuT">{{ commus.title }}</h1>
            <div class="time">
              {{ commus.create_at|date:"m.j H:i" }} | 조회수 {{commus.views}}
            </div>
          </div>
          <div class="commu-user">
            <div class="commu-user-ico">
              <img src="{%static 'commu_ico/user3.png'%}" alt="">
            </div>
            <div class="commu-user-item">
              <div class="commu-user-item2">
                <span title="{{commus.user}}" class="commu-user-name">{{ commus.user }}</span>
              </div>
            </div>
          </div>
        </header>
        <article class="commu-content-box">
            <div class="commu-content">
              {{commus.content|safe}}
            </div>
            <div class="commu-like-box">
                <form id="like-form" data-post-id="{{ commus.pk }}">
                  {% csrf_token %}
                <div class="commu-like-item">
                  <div class="commu-post-like">
                    {{ commus.like_user.count }}
                  </div>
                  <div class="commu-like-ico">
                    <img src="{%static 'commu_ico/like.jpg' %}" alt="좋아요" style="width:20px; height:auto; margin-bottom: 8px;" class="">
                  </div>
                </div>
              </div>
            </form>
        </article>
    </div>
        <comment>
          <div class="new_post">
            댓글 달기
          </div>
            <div style="width:100%; background-color: white;">
                <div class="commu-comment-box">
                    <div class="commu-comment-item">
                        <form id="comment-form" method="POST" action="{%url 'posts:comment' commus.pk%}">
                        {% csrf_token %}
                        <textarea class="commnet-box" contenteditable="true" role="textbox" aria-multiline="true" aria-placeholder="댓글 달기..." aria-required="true" name="content"></textarea>
                    </div>
                </div>
                <div class="commu-comment-button-box">
                    <div class="commu-comment-item commu-comment-btn">
                        <button  id="comment-submit" class="button-item">등록</button>
                    </div>
                </div>
            </div>
        </form>
        </comment>
      <section class="commu-comment-section">
        <div class="new_post">
          전체 댓글 {{ commus.comment_count }}
        </div>
        {% for comment in commus.comment.all  %}
          <div class="commu_post">
            {% if comment.user == request.user %}
            <div class="dropdown dropstart">
              <img src="{%static 'commu_ico/dots.svg'%}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="ture">
              </img>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">댓글 수정</a></li>
                <li><a class="dropdown-item" href="{%url 'posts:comment_delete' commus.pk comment.pk%}">댓글 삭제</a></li>
              </ul>
            </div>
            {% endif %}
            <div class="commu-user">
              <div class="commu-user-ico">
                <img src="{%static 'commu_ico/user3.png'%}" alt="">
              </div>
              <div class="commu-user-item">
                <div class="commu-user-item2">
                  <span title="{{commus.user}}" class="commu-user-name">{{ comment.user }}</span>
                </div>
                <div class="time">
                  {{ comment.create_at|custom_timesince }}
                </div>
              </div>
            </div>
            <div class="commu-content-box">
              <div class="commu-content">
                {{comment.content}}
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
    {%for post in commu_list%}
    {% if post.category == commus.category %}
    {%if post.pk != commus.pk %}
      <a href="{%url 'posts:commu_detail' post.pk %}" class="commu_post" data-pk="{{ post.pk }}">
        <div class="카테고리 d-flex">
          <div class="commuCA {% if post.category == 'Django' %}category-django{% elif post.category == 'Java' %}category-java{% elif post.category == 'Spring' %}category-spring{% endif %}">
            {{ post.category }}
          </div>
        </div>
        <div class="제목/내용">
          <div class="commuT">
            {{ post.title}}
          </div>
          <div class="commuC">
            {{ post.content|strip_html_tags }}
          </div>
        </div>
        <div class="유저">
          <div class="commuU">
            <div class="commu-user-ico">
              <img src="{%static 'commu_ico/user3.png'%}" alt="" style="pe-3"> {{ post.user}}
            </div>
          </div>
        </div>
        <div class="commuBA">
          <div class="time">
            {{ post.create_at|timesince }}전
          </div>
          <div class="commuBA-group">
            <div class="commuBA-item">
              <img src="{%static 'commu_ico/views.svg' %}" alt="조회수">
            </div>
            {{ post.views }}
            <div class="commuBA-item">
              <img src="{%static 'commu_ico/like.svg' %}" alt="좋아요">
            </div>
            {{ post.like_user.count }}
            <div class="commuBA-item">
              <img src="{%static 'commu_ico/comment.svg'%}" alt="코멘트">
            </div>
            {{ post.comment_count }}
          </div>
        </div>
      </a>
      {% endif %}
      {% endif %}
      {% endfor %}
    </main>
    <!--추천글-->
    <div class="commu-recommend">
      <div>
        <div class="card">
          <div class="card-header commu-card-header">
            <div>
              추천글
            </div>
            <div>
              <a href="#" class="commu-recommend-all">더보기</a>
            </div>
          </div>
          <ul class="list-group list-group-flush pt-2">
            <li class="list-group-item pt-2">
              <a href="#" class="commu-recommend-title">글 제목</a>
                
              <div class="commu-recommend-post">
                <div class="commu-cate">카테고리</div>
                <div class="commu-recommend-info">
                  <div class="commu-recommend-info-item">조회수</div>
                  <div class="commu-recommend-info-item">좋아요</div>
                  <div class="commu-recommend-info-item">댓글</div>
                </div>
              </div>
            </li>
            <li class="list-group-item pt-2">
              <a href="#" class="commu-recommend-title">글 제목</a>
                
              <div class="commu-recommend-post">
                <div class="commu-cate">카테고리</div>
                <div class="commu-recommend-info">
                  <div class="commu-recommend-info-item">조회수</div>
                  <div class="commu-recommend-info-item">좋아요</div>
                  <div class="commu-recommend-info-item">댓글</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <a href="#" class="commu-recommend-title">글 제목</a>
                
              <div class="commu-recommend-post">
                <div class="commu-cate">카테고리</div>
                <div class="commu-recommend-info">
                  <div class="commu-recommend-info-item">조회수</div>
                  <div class="commu-recommend-info-item">좋아요</div>
                  <div class="commu-recommend-info-item">댓글</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{%static 'js/detail.js'%}?after "></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock content %}
