{% extends 'base.html' %}
{% load static %}
{% block style %}
{% load custom_filters %}

<link rel="stylesheet" href="{% static 'css/commu_info.css' %}?after " />
{% endblock style %}

{% block content %}
<div class="commu">
  <div class="d-flex justify-content-between">
    <!--사이드바-->
    <div style="width: 15rem;">
      <div class="commu-side" style="width: 11rem;">
        <input type="text" class="form-control" placeholder="검색어를 입력하세요">
      </div>
      <div class="commu-side">
        <div style="width: 11rem;">
          <div class="best_post mb-4 p-2 ps-3">
            언어
          </div>
          <div class="best_post p-3">
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' 'Django'%}" class="category-django">Django</a>
              </span>
              <span>
                <a href="{%url 'posts:commu_filter' 'Java'%}" class="category-java">Java</a>
              </span>
            </div>
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' 'Spring'%}" class="category-spring">Spring</a>
              </span>
              <span>
                <a href="{%url 'posts:commu_filter' 'DB'%}" class="category-db">DB</a>
              </span>
            </div>
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' 'JPA'%}" class="category-jpa">JPA</a>
              </span>
              <span>
                <a href="{%url 'posts:commu_filter' '백앤드'%}" class="category-back">백앤드</a>
              </span>
            </div>
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' '프론트앤드'%}" class="category-front">프론트 앤드</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!--메인-->
    <main class="commu-main">
          <div class="best_post">
            <div class="best_post_all">
              <div>
                🔥 베스트글
                <span class="ps-2"style="color: lightgray; font-size:12px;">조회수가 높은 순으로 5개의 게시물을 조회합니다</span>
              </div>
            </div>
          </div>
            {% for post in top_posts_all %}
              <a href="{%url 'posts:commu_detail' post.pk %}" class="commu_post" data-pk="{{ post.pk }}">
                <div class="commuT">
                  {{ post.title}}
                </div>
                <div class="commu-main-post">
                  <div class="commu-cate">
                    <div class="commuCA {% if post.category == 'Django' %}category-django{% elif post.category == 'Java' %}category-java{% elif post.category == 'Spring' %}category-spring{% elif post.category == 'DB' %}category-db{% elif post.category == 'JPA' %}category-jpa{% elif post.category == '백앤드' %}category-back{% elif post.category == '프론트앤드' %}category-front{% endif %}">
                      {{ post.category }}
                    </div>
                  </div>
                  <div class="commu-post-info">
                    <div class="commuBA-group">
                      <div class="commuBA-item">
                        <img src="{%static 'commu_ico/views.svg' %}" alt="조회수">
                      </div>
                      {{ post.views }}
                      <div class="commuBA-item">
                        <img src="{%static 'commu_ico/like.svg' %}" alt="좋아요">
                      </div>
                      {{ post.like_user.count }}
                      <div class="commuBA-item">
                        <img src="{%static 'commu_ico/comment.svg'%}" alt="코멘트">
                      </div>
                      {{ post.comment_count }}
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
    </main>
    <!--추천글-->
    <div class="like-main">
      <div class="like_post">
        <div class="like_post_all">
          <div>
            👍 추천글
          </div>
          <a href="{% url 'posts:commu_info_like' %}" class="commu-main-all">더 보기</a>
        </div>
      </div>
      <div>
        {% regroup commu_filtered by like_user.count as commu_grouped %}
        {% for group in commu_grouped|dictsortreversed:'grouper' %}
          {% if group.grouper >= 3 %}
            {% for post in group.list %}
              {% if forloop.counter0|divisibleby:2 %}
          <div>
        {% endif %}
          <div>
            <a href="{% url 'posts:commu_detail' post.pk %}" class="commu_post mb-3 col-6" data-pk="{{ post.pk }}">
              <div class="카테고리 d-flex" style="justify-content: space-between;">
                <div class="commuT">
                  {{ post.title }}
                </div>
                <div class="commuCA {% if post.category == 'Django' %}category-django{% elif post.category == 'Java' %}category-java{% elif post.category == 'Spring' %}category-spring{% elif post.category == 'DB' %}category-db{% elif post.category == 'JPA' %}category-jpa{% elif post.category == '백앤드' %}category-back{% elif post.category == '프론트앤드' %}category-front{% endif %}">
                  {{ post.category }}
                </div>
              </div>
              <div class="commu-main-post">
                <div class="commu-post-info">
                  <div class="commuBA-group">
                    <div class="commuBA-item">
                      <img src="{%static 'commu_ico/views.svg' %}" alt="조회수">
                    </div>
                    {{ post.views }}
                    <div class="commuBA-item">
                      <img src="{%static 'commu_ico/like.svg' %}" alt="좋아요">
                    </div>
                    {{ post.like_user.count }}
                    <div class="commuBA-item">
                      <img src="{%static 'commu_ico/comment.svg'%}" alt="코멘트">
                    </div>
                    {{ post.comment_count }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:2 or forloop.last %}
          </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  </div>
</div>

   <!-- Modal -->
   <div class="modal fade" style="font-family: 'S-CoreDream-3Light';" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
              <h5 class="modal-title">리뷰 남기기</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'posts:commu_create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_category">커뮤니티를 선택하세요</label>
                  {{ commu_create.category }}
                </div>
                <div class="mb-3">

                  <input type="text" class="form-control" id="id_title" name="title" placeholder="제목을 입력하세요">
                </div>
                <div class="mb-3">
                  <textarea name="content" id="id_content" class="form-control" rows="10"placeholder="내용을 입력하세요"></textarea>
                </div>
                <div class="mb-3">
                  <div class="input-group">
                    <input type="file" name="image" id="id_image" class="form-control" accept="image/*">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                  <input type="submit" value="후기 작성" class="btn btn-success modal_form">
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{%static 'js/detail.js'%}?after"></script>
<script>
    // 현재 URL 확인
    var currentURL = window.location.href;
  
    // 숨길 태그의 CSS 클래스명
    var targetClass = "bestTC";
  
    // URL에 따라 태그 숨기기
    var category = "{{ category }}"
    if (currentURL.includes("community/filter/" + category)) {
      var targetElement = document.querySelector("." + targetClass);
      if (targetElement) {
        targetElement.style.display = "none";
      }
    }
    console.log(currentURL,targetElement.style )
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock content %}
