{% extends 'base.html' %}
{% load static %}
{% block style %}
{% load humanize %}
{% load custom_filters%}

<link rel="stylesheet" href="{% static 'css/commu_detail.css' %}?after " />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
{% endblock style %}

{% block content %}
<div>
  <div class="d-flex justify-content-between">
    <!--사이드바-->
     <!--사이드바-->
     <div style="width: 15rem;">
      <div class="commu-side" style="width: 11rem;">
        <form action="{%url 'posts:search' 'keyword' %}" method="get">
          <input type="text" class="form-control" placeholder="검색어를 입력하세요" name="keyword">
        </form>
      </div>
      <div class="commu-side">
        <div style="width: 11rem;">
          <div class="best_post mb-4 p-2 ps-3">
            언어
          </div>
          <div class="best_post p-3">
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' '자유'%}" class="category-django">자유</a>
              </span>
              <span>
                <a href="{%url 'posts:commu_filter' 'Java'%}" class="category-java">Java</a>
              </span>
            </div>
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' 'Spring'%}" class="category-spring">Spring</a>
              </span>
              <span>
                <a href="{%url 'posts:commu_filter' 'DB'%}" class="category-db">DB</a>
              </span>
            </div>
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' 'Django'%}" class="category-jpa">Django</a>
              </span>
              <span>
                <a href="{%url 'posts:commu_filter' '백앤드'%}" class="category-back">백앤드</a>
              </span>
            </div>
            <div class="mb-3">
              <span class="pe-3">
                <a href="{%url 'posts:commu_filter' '프론트앤드'%}" class="category-front">프론트 앤드</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--메인-->
    <main class="commu-main">
    <div class="commu-detail">
        <header class="detail-header">
          {% if commus.user == request.user %}
            <div class="dropdown dropstart">
              <img src="{%static 'commu_ico/dots.svg'%}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="ture">
              </img>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{%url 'posts:commu_update' commus.pk %}">글 수정</a></li>
                <li><a class="dropdown-item" href="{%url 'posts:commu_delete' commus.pk %}">글 삭제</a></li>
              </ul>
            </div>
          {% endif %}
          <div class="d-flex">
            <a href="{%url 'posts:commu_filter' commus.category %}">
              <div class="commuCA {% if commus.category == 'Django' %}category-django{% elif commus.category == 'Java' %}category-java{% elif commus.category == 'Spring' %}category-spring{% elif commus.category == 'DB' %}category-db{% elif commus.category == 'JPA' %}category-jpa{% elif commus.category == '백앤드' %}category-back{% elif commus.category == '프론트앤드' %}category-front{% endif %}">
                {{ commus.category }}
              </div>
            </a>
          </div>
          <div class="commu-title">
            <div class="commuT">{{ commus.title }}</div>
            <div class="time">
              {{ commus.create_at|date:"m.j H:i" }} | 조회수 {{commus.views}}
            </div>
          </div>
          <div class="commu-user">
            <div class="commu-user-ico">
              <div class="profile-img">
                <!-- 프로필 유저 이미지 -->
                {% if user.image %}
                  <img src="{{ commus.user.image.url }}" alt="">
                {% else %}
                  <img src="{% static 'img/user.png' %}" alt="">
                {% endif %}
              </div>
            </div>
            <div class="commu-user-item">
              <div class="commu-user-item2">
                <span title="{{commus.user}}" class="commu-user-name">{{ commus.user.nickname }}</span>
              </div>
            </div>
          </div>
        </header>
        <article class="commu-content-box">
            <div class="commu-content">
              {{commus.content|safe}}
            </div>
            <div class="commu-like-box">
                <form id="like-form" data-post-id="{{ commus.pk }}">
                  {% csrf_token %}
                <div class="commu-like-item">
                  <div class="commu-post-like">
                    {{ commus.like_user.count }}
                  </div>
                  <div class="commu-like-ico">
                    <img src="{%static 'commu_ico/like.jpg' %}" alt="좋아요" style="width:20px; height:auto; margin-bottom: 8px;" class="">
                  </div>
                </div>
              </div>
            </form>
        </article>
    </div>
        <comment class="commu-detail">
          <div class="new_post">
            댓글 달기
          </div>
            <div style="width:100%; background-color: white;">
                <div class="commu-content-box">
                    <div class="commu-comment-item">
                        <form id="comment-form" method="POST" action="{%url 'posts:comment' commus.pk%}">
                        {% csrf_token %}
                        <textarea class="commnet-box" contenteditable="true" role="textbox" aria-multiline="true" aria-placeholder="댓글 달기..." aria-required="true" name="content"></textarea>
                    </div>
                </div>
                <div class="commu-comment-button-box">
                    <div class="commu-comment-item commu-comment-btn">
                        <button  id="comment-submit" class="button-item">등록</button>
                    </div>
                </div>
            </div>
        </form>
        </comment>
      <section class="commu-comment-section">
        <div class="new_post">
          전체 댓글 {{ commus.comment_count }}
        </div>
        {% for comment in commus.comment.all  %}
          <div class="commu_post">
            {% if comment.user == request.user %}
            <div class="dropdown dropstart">
              <img src="{%static 'commu_ico/dots.svg'%}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="ture">
              </img>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">댓글 수정</a></li>
                <li><a class="dropdown-item" href="{%url 'posts:comment_delete' commus.pk comment.pk%}">댓글 삭제</a></li>
              </ul>
            </div>
            {% endif %}
            <div class="commu-user">
              <div class="commu-user-ico">
                <div class="profile-img">
                  <!-- 프로필 유저 이미지 -->
                  {% if user.image %}
                    <img src="{{ commus.user.image.url }}" alt="">
                  {% else %}
                    <img src="{% static 'img/user.png' %}" alt="">
                  {% endif %}
                </div>
              </div>
              <div class="commu-user-item">
                <div class="commu-user-item2">
                  <span title="{{commus.user}}" class="commu-user-name">{{ comment.user.nickname }}</span>
                </div>
                <div class="time">
                  {{ comment.create_at|custom_timesince }}
                </div>
              </div>
            </div>
            <div class="commu-comment-box">
              <div class="commu-content">
                {{comment.content}}
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
  
    </main>
    <!--추천글-->
    <div class="like-main">
      <div class="like_post">
        <div class="like_post_all">
          <div>
            👍 추천글
          </div>
          <a href="{% url 'posts:commu_info_like' %}" class="commu-main-all">더 보기</a>
        </div>
      </div>
      <div>
        {% regroup commu_filtered by like_user.count as commu_grouped %}
        {% for group in commu_grouped|dictsortreversed:'grouper' %}
          {% if group.grouper >= 3 %}
            {% for post in group.list %}
              {% if forloop.counter0|divisibleby:2 %}
          <div>
        {% endif %}
          <div>
            <a href="{% url 'posts:commu_detail' post.pk %}" class="commu_post mb-3 col-6" data-pk="{{ post.pk }}">
              <div class="카테고리 d-flex" style="justify-content: space-between;">
                <div class="commuT">
                  {{ post.title }}
                </div>
                <div class="commuCA {% if post.category == 'Django' %}category-django{% elif post.category == 'Java' %}category-java{% elif post.category == 'Spring' %}category-spring{% elif post.category == 'DB' %}category-db{% elif post.category == 'JPA' %}category-jpa{% elif post.category == '백앤드' %}category-back{% elif post.category == '프론트앤드' %}category-front{% endif %}">
                  {{ post.category }}
                </div>
              </div>
              <div class="commu-main-post">
                <div class="commu-post-info">
                  <div class="commuBA-group">
                    <div class="commuBA-item">
                      <img src="{%static 'commu_ico/views.svg' %}" alt="조회수">
                    </div>
                    {{ post.views }}
                    <div class="commuBA-item">
                      <img src="{%static 'commu_ico/like.svg' %}" alt="좋아요">
                    </div>
                    {{ post.like_user.count }}
                    <div class="commuBA-item">
                      <img src="{%static 'commu_ico/comment.svg'%}" alt="코멘트">
                    </div>
                    {{ post.comment_count }}
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:2 or forloop.last %}
          </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
  </div>
</div>
<script src="{%static 'js/detail.js'%}?after "></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock content %}
